body {
    background-color: silver;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-top:15%
}

img {
    display:flex;
    width: 50%;
    height: auto;
    align-items:center;
}

h2 {
    font-style: italic;
    font-family: monospace;
}

h4 {
    display: flex;
    margin: auto;
}

h5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-break: break-all;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-block-end: auto;
    padding-right: 20%;
    padding-left: 20%;
}

label {
    padding-bottom: 2px;
}

input {
    border-radius: 4px;
    padding:0
}

.submit {
    
    width: 100px;
    height: 23px;
    background-color: #72c6d780;
    border: none;
    color:black;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px 1px #def5c269;
}

button {
    align-items: center;
    background-color: #4d73ff7d;
    border: none;
    margin: 2px 0 10px 2px;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px 1px #cfc2f569;
}

a {
    color:black;
    text-decoration: none;
}

div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    background-color: #b7a7a7;
    border: none;
    border-radius: 10px;
}

.result {
    display:flex;
    width: 25%;
    height: auto;
    align-items:center;
}